body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#map {
    width: 74%;
    display: inline-block;
}

#list {
    padding: 5px;
    width: 24%;
    height: 100%;
    float: right;
    margin: 0;
    overflow: auto;
    display: inline-block;
}